div {
    padding: 0;
    margin: 0;
}

body {
    background: #F4CD42;
    padding: 0;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    margin: 0;
}

.naglowek {
    background: black;
    width: 100%;
}

.logo {
    background-color: black;
    display: inline;
    float: left;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.logo2 {
    background-color: black;
    display: inline;
    float: right;
    padding-left: 79.4%;
    padding-bottom: 1%;
    padding-top: 1%;
}

h1 {
    text-align: center;
    font-size: 300%;
}

.sekcja1 {
    color: black;
}

img.corona_cerveza.jpg {
    width: 10px;
    height: 10px;
}

.lewy {
    width: 30%;
    float: left;
    margin-bottom: 10px;
    margin-left: 84px;
    margin-right: 10px;
    background-color: white;
}

.lewy2 {
    width: 75%;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.srodek {
    width: 30%;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: white;
}

.srodek2 {
    width: 75%;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.prawy {
    width: 30%;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: white;
}

.prawy2 {
    width: 75%;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.pół {
    width: 50%;
    float: left;
}

img.obrazki {
    width: 375px;
    height: 520px;
    float: left;
}

.piwo_obrazek {
    width: 100%;
}

.pojemnik1 {
    margin: auto;
}

.srodek3 {
    color: black;
    margin-left: auto;
    margin-right: auto;
}
