div {
    padding: 0;
    margin: 0;
}

body {
    background: #F4CD42;
    padding: 0;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    margin: 0;
}

.naglowek {
    background: black;
    width: 100%;
}

.logo {
    background-color: black;
    display: inline;
    float: left;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.logo2 {
    background-color: black;
    display: inline;
    float: right;
    padding-left: 79.4%;
    padding-bottom: 1%;
    padding-top: 1%;
}

h1 {
    text-align: center;
    font-size: 300%;
}

.sekcja1 {
    color: black;
}

img.corona_cerveza.jpg {
    width: 10px;
    height: 10px;
}

.lewy {
    width: 30%;
    float: left;
    margin-bottom: 10px;
    margin-left: 84px;
    margin-right: 10px;
    background-color: white;
    border-radius: 20px;
}

.lewy2 {
    width: 75%;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.tytuł {
    color: brown;
}

.srodek {
    width: 30%;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 20px;
}

.srodek2 {
    width: 75%;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.prawy {
    width: 30%;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 20px;
}

.prawy2 {
    width: 75%;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.pół {
    width: 50%;
    float: left;
}

img.obrazki {
    width: 375px;
    height: 520px;
    float: left;
}

.piwo_obrazek {
    width: 100%;
    border-radius: 20px;
}

.pojemnik1 {
    margin: auto;
    border-radius: 20px;
}

.lewy3 {
    width: 90%;
    float: left;
    margin-bottom: 10px;
    background-color: white;
    margin-top: 10px;
    position: relative;
    left: 4.75%;
    border-radius: 20px;
}

.pinta1 {
    float: left;
    width: 25%;
    margin-right: 25%;
    border-radius: 20px 0px 0px 20px;
}

.international {
    text-align: left;
    padding-left: 1%;
}

.prawy3 {
    color: black;
    margin-left: 10px;
    margin-top: 1%;
}

.lewy4 {
    width: 90%;
    float: left;
    margin-bottom: 10px;
    background-color: white;
    margin-top: 10px;
    position: relative;
    left: 4.75%;
    border-radius: 20px;
}

.pinta2 {
    float: left;
    width: 25%;
    height: 530px;
    margin-right: 25%;
    border-radius: 20px 0px 0px 20px;
}

.hefeweizen {
    text-align: left;
    padding-left: 1%;
}

.prawy4 {
    color: black;
    margin-left: 10px;
    margin-top: 1%;
}
