div {
  padding: 0;
  margin: 0;
}

body {
  background: green;
  padding: 0;

}

h1 {
  margin: 5px; 
  font-color: #FFFFFF;
}

.pojemnik {
  clear: both;
  overflow: auto;
}

.lewy {
  width: 48%;
  float: left;
}

.prawy {
  width: 48%;
  float: right;
}

.lewy2 {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}

.srodek {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}

.prawy2 {
  width: 33%;
  float: right;
  margin-bottom: 10px;
}

img.nasz-obrazek {
  width: 236px;
  height: 236px;

}

.wysrodkowane {
  margin-bottom: 20px;
  text-align: center;
}

a {
  color: red;
}

.pojemnik2 {
  clear: both;
  overflow: auto;
}

.lewy3 {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}

.srodek2 {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}

.prawy3 {
  width: 33%;
  float: right;
  margin-bottom: 10px;
}

.pojemnik3 {
  clear: both;
  overflow: auto;
}

.lewy4 {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}

.srodek3 {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}

.prawy4 {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}

.pojemnik4 {
  clear: both;
  overflow: auto;
}

.lewy5{
  width: 33%;
  float: left;
  margin-bottom: 10px;
}

.srodek4 {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}

.prawy5 {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}

.pojemnik5 {
  clear: both;
  overflow: auto;
}

.lewy6 {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}

.border {
  width: 1px;
  color: red;
}

.srodek5 {
  width: 33%;
  float: left;
  margin-bottom: 10px;
}

img.nasz-obrazek2 {
  width: 375px;
  height: 520px;
  float: left;
}

.prawy6 {
  width: 66%;
  float: left;
  margin-bottom: 10px;
  border: 1px solid blue;
}

.pół {
  width: 50%;
  float: left;
}
